/* always start from mobile */
body{
    background-color: green;
}
/* tablet:768px,laptop:1020px,laptop:1400px,small:0 to 768px*/
@media (min-width: 768px){
    body{
        background-color: blue;
    }

}

@media(min-width: 1020px){
    body{
        background-color: red;
    }
}